{$APP_URL} {
	encode gzip

	handle /api/* {
		reverse_proxy mgmt-svc:8080
	}

	handle /login {
		reverse_proxy mgmt-svc:8080
	}

	handle /logout {
		reverse_proxy mgmt-svc:8080
	}

	handle /mgmt/* {
        reverse_proxy mgmt-svc:8080
    }

    handle /oauth2/* {
        reverse_proxy mgmt-svc:8080
    }

	handle /event/* {
		reverse_proxy ingestion-svc:8081
	}

	handle {
		root * /usr/share/caddy/ux
		try_files {path} /index.html
		file_server
	}
}
